@implements IComponentInterface

<div>NullComponent</div>


@code {
    [Parameter]
    public string Value { get; set; }

    [Parameter]
    public EventCallback<string> ValueChanged { get; set; }
}